$default-background:         #111318;
$font-color:                 #ccd4e0;
$hover-font-color:           #51A2FB;
$entity-current-font-color:  #68BEFD;
$molstar-btn-remove-background:      #DE0A28;
$molstar-btn-remove-hover-font-color:#F2F4F7;
$molstar-btn-commit-on-font-color:   #68BEFD;
$entity-badge-font-color:    #ccd4e0;

// used in LOG
$log-message:          #0CCA5D;
$log-info:             #5E3673;
$log-warning:          #FCC937;
$log-error:            #FD354B;

@function color-lower-contrast($color, $amount) {
    @return darken($color, $amount);
}

@function color-increase-contrast($color, $amount) {
    @return lighten($color, $amount);
}