.msp-description {
    padding: $control-spacing;
    font-size: 85%;
    background: $default-background;
    text-align: center;
    //font-style: italic;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    font-weight: light;

    cursor: default;
}

.msp-description:not(:first-child) {
    border-top: 1px solid $control-background;
}

.msp-color-picker input {
    color: black !important;
}

.msp-no-webgl {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: table;
    text-align: center;
    background: $default-background;

    > div {
        b {
            font-size: 120%;
        }
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
    }
}

.msp-loader-msp-btn-file {
    position: relative;
    overflow: hidden;
}

.msp-loader-msp-btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.msp-controls-section {
    margin-bottom: $control-spacing;
}

.msp-combined-color-button {
    border: 4px solid $msp-form-control-background !important;
    margin: 0;
    text-align: center;
    padding-right: $control-spacing;
    padding-left: $control-spacing;

    &:hover {
        border-color: color-increase-contrast($msp-form-control-background, 5%) !important;
        border: none;
        outline-offset: -1px  !important;
        outline: 1px solid color-increase-contrast($msp-form-control-background, 20%) !important;
    }
}

.msp-combined-color-swatch {
    width: 100%;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(6, auto);

    .msp-btn {
        &:hover {
            outline-offset: -1px  !important;
            outline: 1px solid color-increase-contrast($msp-form-control-background, 20%) !important;
        }
    }
}

.msp-action-select {
    position: relative;

    select {
        padding-left: $control-spacing + $row-height;
    }

    option:first-child {
        color: color-lower-contrast($font-color, 15%);
    }

    > .msp-icon {
        display: block;
        top: 0;
        left: $control-spacing;
        position: absolute;
        line-height: $row-height;
    }
}

.msp-simple-help-section {
    height: 28px;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 500;
    background: $default-background;
    color: $font-color;
}

.msp-left-panel-controls-buttons {
    position: absolute;
    width: $row-height;
    top: 0;
    bottom: 0;
    padding-top: $control-spacing;

    background: $default-background;

    // .msp-btn-link-toggle-on {
    //     border-left: 1px solid $font-color;
    // }
}

.msp-left-panel-controls-buttons-bottom {
    position: absolute;
    bottom: 0;
}

.msp-left-panel-controls-button-data-dirty {
    position: absolute;
    width: 6px;
    height: 6px;
    background: $entity-color-Group;
    border-radius: 3px;
    right: 6px;
    bottom: 6px;
}

.msp-left-panel-controls {
    .msp-scrollable-container {
        left: $row-height + 1px;
    }
}

.msp-mapped-parameter-group {
    position: relative;

    > .msp-control-row:first-child {
        > div:nth-child(2) {
            right: 33px;
        }
    }

    > .msp-btn-icon {
        position: absolute;
        right: 0;
        width: 32px;
        top: 0;
    }
}

.msp-shape-filled {
    fill: $font-color;
    stroke: $font-color;
}

.msp-shape-empty {
    fill: none;
    stroke: $font-color;
}

.msp-no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.msp-25-lower-contrast-text {
    color: color-lower-contrast($font-color, 25%);
}