.msp-panel-header .msp-panel-expander {
    display: block;
    width: 100%;
    text-align: left;
}

.msp-panel-header {
    
    //border-bottom-width: 1px;
    //border-bottom-style: solid;    
    height: $row-height;
    border-color: $border-color;
    position: relative;
    
    //border-radius: $control-spacing 0 0 0;
    
    .msp-panel-expander-wrapper {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 2 * $row-height;
            
        button {
            // width: 100%;
            
            display: block;
            width: 100%;
            text-align: left;
            
            height: $row-height;
            line-height: $row-height; 
            border: none;        
            font-weight: bold;
            //color: $panel-header-font-color;
            padding-left: 0;
            background: color-lower-contrast($default-background, 4%);   
            //text-align: right!important;
            
            .msp-icon {
                display: inline-block;
                margin-right: $control-spacing; 
                width: $row-height;
                text-align: center;
            }
            
            &:hover {
                background: color-lower-contrast($default-background, 4%); 
            }
        }
    }

    .msp-panel-description-standalone {
        > .msp-icon {
            margin-left: $row-height;
        }

        width: 2 * $row-height;
    }

    .msp-panel-description-with-action {        
        width: $row-height;
        margin-right: $row-height;
    }
        
    .msp-panel-description {        
        color: $font-color;
        float: right;
        background: color-lower-contrast($default-background, 4%);
        //margin-right: $row-height;
        
        > .msp-icon {
            display: block;
            width: $row-height;
            height: $row-height;
            line-height: $row-height;
            text-align: center;
            font-size: 70%;
            cursor: default;
            background: color-lower-contrast($default-background, 4%);  
            color: color-lower-contrast($font-color, 66%);
        }
        
        .msp-panel-description-content {
            @include non-selectable;
            
            color: $font-color;
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            background: color-increase-contrast($msp-form-control-background, 20%);
            min-height: $row-height;
            z-index: 1000000;
            padding: $info-vertical-padding  $control-spacing $info-vertical-padding ($row-height + $control-spacing);
            text-align: left;
            //border-bottom: 1px solid color-lower-contrast($default-background, 4%);
            
            > .msp-icon {
                position: absolute;
                width: $row-height;
                height: $row-height;
                line-height: $row-height;
                text-align: center;
                font-size: 80%;
                cursor: default;
                top: 0;
                left: 0;
            }
        }   

        &:hover {
            color: $hover-font-color;
            > .msp-icon {
                color: $hover-font-color;
            }
            .msp-panel-description-content {
                display: block;
            }
        }    
    }
}

.msp-panel-body {
    background: $control-background;
}

.msp-panel {
    margin-bottom: $control-spacing;
}

.msp-transform-view {
    padding-top: $control-spacing;
}

.msp-expandable-group-color-stripe {
    position: absolute;
    left: 0;
    top: $row-height - 2px;
    width: $control-label-width + $control-spacing;
    height: 2px;
}