build/
deploy/
lib/
docs/site/

node_modules/
.pnpm-store/
debug.log
npm-debug.log
tsconfig.tsbuildinfo
tsconfig.commonjs.tsbuildinfo

*.sublime-workspace
.idea

.DS_Store
tmp/
coverage/

dev.pem
dev-key.pem

data/sym/syminfo.lib

**/lib/
**/build/
**/node_modules/
**/*.tsbuildinfo
