
[class^="molstar-icon-"]:before, [class*=" molstar-icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .molstar-icon-expand-layout:before {
      content: "\e84a";
  }

  .molstar-icon-plus:before {
      content: "\e816";
  }

  .molstar-icon-minus:before {
      content: "\e819";
  }

  .molstar-icon-reset-scene:before {
      content: "\e891";
  }

  .molstar-icon-ok:before {
      content: "\e812";
  }

  .molstar-icon-cross:before {
      content: "\e868";
  }

  .molstar-icon-off:before {
      content: "\e813";
  }

  .molstar-icon-expand:before {
      content: "\e885";
  }

  .molstar-icon-collapse:before {
      content: "\e883";
  }

  .molstar-icon-visual-visibility:before {
      content: "\e826";
  }

  .molstar-icon-abort:before {
      content: "\e814";
  }

  .molstar-icon-focus-on-visual:before {
      content: "\e8a3";
  }

  .molstar-icon-settings:before  {
      content: "\e855";
  }

  .molstar-icon-tools:before {
      content: "\e856";
  }

  .molstar-icon-log:before {
      content: "\e8a5";
  }

  .molstar-icon-remove:before {
      content: "\e847";
  }

  .molstar-icon-help:before {
      content: '\e81c'
  }

  .molstar-icon-info:before {
      content: '\e81e'
  }

  .molstar-icon-left-open-big:before {
      content: '\e87c'
  }

  .molstar-icon-right-open-big:before {
      content: '\e87d'
  }

  .molstar-icon-left-open:before {
      content: '\e874'
  }

  .molstar-icon-right-open:before {
      content: '\e875'
  }

  .molstar-icon-screenshot:before {
      content: "\e80f";
  }

  .molstar-icon-help:before {
      content: "\e81c";
  }

  .molstar-icon-help-circle:before {
      content: "\e81d";
  }