
@import 'layout/common';

.molstar-layout-standard-outside {
    position: absolute;
    @import 'layout/outside';
}

.molstar-layout-standard-landscape {
    position: absolute;
    @import 'layout/landscape';
}

.molstar-layout-standard-portrait {
    position: absolute;
    @import 'layout/portrait';
}

.molstar-layout-expanded {
    position: fixed;

    @media (orientation:landscape) {
        @import 'layout/landscape';
    };

    @media (orientation:portrait) {
        @import 'layout/portrait';
    };
}