@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?22556350');
  src: url('./fonts/fontello.eot?22556350#iefix') format('embedded-opentype'),
       url('./fonts/fontello.woff2?22556350') format('woff2'),
       url('./fonts/fontello.woff?22556350') format('woff'),
       url('./fonts/fontello.ttf?22556350') format('truetype'),
       url('./fonts/fontello.svg?22556350#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);

.msp-plugin {
    font-family: "Helvetica Neue", "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    @import 'variables';
    
    // for bootstrap
    $border-radius-base:        0;
    $border-radius-large:       0;
    $border-radius-small:       0;
    
    @import 'bootstrap/bootstrap';

    @import 'icons';   
    @import 'layout';
    @import 'ui';
    @import 'logo';
        
    .msp-plugin-content {
        color: $font-color;
    }
    
    background: $default-background;
}