[class^="msp-icon-"]:before, [class*=" msp-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.msp-icon-expand-layout:before {
	content: "\e84a";
}

.msp-icon-plus:before {
	content: "\e816";
}

.msp-icon-minus:before {
	content: "\e819";
}

.msp-icon-reset-scene:before {
	content: "\e891";
}

.msp-icon-ok:before {
	content: "\e812";
}

.msp-icon-back:before {
	content: "\e820";
}

.msp-icon-cross:before {
	content: "\e868";
}

.msp-icon-off:before {
	content: "\e813";
}

.msp-icon-expand:before {
	content: "\e885";
}

.msp-icon-collapse:before {
	content: "\e883";
}

.msp-icon-visual-visibility:before {
	content: "\e826";
}

.msp-icon-abort:before {
	content: "\e814";
}

.msp-icon-focus-on-visual:before {
	content: "\e8a3";
}

.msp-icon-settings:before  {
	content: "\e855";
}

.msp-icon-tools:before {
	content: "\e856";
}

.msp-icon-log:before {
	content: "\e8a5";
}

.msp-icon-remove:before {
	content: "\e847";
}

.msp-icon-help:before {
    content: "\e81c";
}

.msp-icon-help-circle:before {
	content: "\e81d";
}

.msp-icon-info:before {
    content: "\e81e";
}

.msp-icon-left-open-big:before {
    content: "\e87c";
}

.msp-icon-right-open-big:before {
    content: "\e87d";
}

.msp-icon-left-open:before {
    content: "\e874";
}

.msp-icon-right-open:before {
    content: "\e875";
}

.msp-icon-screenshot:before {
	content: "\e80f";
}

.msp-icon-model-prev:before {
    content: "\e884";
}

.msp-icon-model-next:before {
    content: "\e885";
}

.msp-icon-model-first:before {
    content: "\e89c";
}

.msp-icon-down-thin:before {
	content: "\e88b";
}

.msp-icon-up-thin:before {
	content: "\e88e";
}

.msp-icon-left-thin:before {
	content: "\e88c";
}

.msp-icon-right-thin:before {
	content: "\e88d";
}

.msp-icon-switch:before {
	content: "\e896";
}

.msp-icon-play:before {
	content: "\e897";
}

.msp-icon-stop:before {
	content: "\e898";
}

.msp-icon-pause:before {
	content: "\e899";
}

.msp-icon-left-open:before {
	content: "\e87c";
}

.msp-icon-right-open:before {
	content: "\e87d";
}

.msp-icon-cw:before {
	content: "\e890";
}

.msp-icon-database:before {
	content: "\e8d3";
}

.msp-icon-upload:before {
	content: "\e82e";
}

.msp-icon-record:before {
	content: "\e89a";
}

.msp-icon-code:before {
	content: "\e834";
}

.msp-icon-floppy:before {
	content: "\e8d0";
}

.msp-icon-tape:before {
	content: "\e8c8";
}

.msp-icon-help-circle-expand {
	width: 2.5em !important;
}
.msp-icon-help-circle-expand:before {
	width: 2.5em !important;
	content: "\e81d\0020\e885";
}

.msp-icon-help-circle-collapse {
	width: 2.5em !important;
}
.msp-icon-help-circle-collapse:before {
	width: 2.5em !important;
	content: "\e81d\0020\e883";
}

.msp-icon-flow-cascade:before {
	content: "\e8d8";
}