// this is complement of the dark theme

@use "sass:color";

$default-background:         color.invert(#111318, $space: rgb);
$font-color:                 color.invert(#ccd4e0, $space: rgb);
$hover-font-color:           color.invert(#51A2FB, $space: rgb);
$entity-current-font-color:  color.invert(#68BEFD, $space: rgb);
$msp-btn-commit-on-font-color:   color.invert(#68BEFD, $space: rgb);
$entity-badge-font-color:    color.adjust(#ccd4e0, $lightness: 10%);
$msp-btn-remove-background:      #DE0A28;
$msp-btn-remove-hover-font-color:#F2F4F7;

// used in LOG
$log-message:          #0CCA5D;
$log-info:             #5E3673;
$log-warning:          #FCC937;
$log-error:            #FD354B;

$logo-background: color.invert(#111318, $space: rgb);

@function color-lower-contrast($color, $amount) {
    @return color.adjust($color, $lightness: $amount, $space: hsl);
}

@function color-increase-contrast($color, $amount) {
    @return color.adjust($color, $lightness: -$amount, $space: hsl);
}