// this is complement of the dark theme

@function compl($color) {
    @return rgb(255 - red($color), 255 - green($color), 255 - blue($color));
}

$default-background:         compl(#111318);
$font-color:                 compl(#ccd4e0);
$hover-font-color:           compl(#51A2FB);
$entity-current-font-color:  compl(#68BEFD);
$msp-btn-commit-on-font-color:   compl(#68BEFD);
$entity-badge-font-color:    lighten(#ccd4e0,10%);
$msp-btn-remove-background:      #DE0A28;
$msp-btn-remove-hover-font-color:#F2F4F7;

// used in LOG
$log-message:          #0CCA5D;
$log-info:             #5E3673;
$log-warning:          #FCC937;
$log-error:            #FD354B;

$logo-background: compl(#111318);

@function color-lower-contrast($color, $amount) {
    @return lighten($color, $amount);
}

@function color-increase-contrast($color, $amount) {
    @return darken($color, $amount);
}