
// measures

$control-label-width:   110px;
$control-label-short-width:   70px;
$row-height:            32px;
$control-spacing:       10px;
$entity-subtree-offset: 8px;
$info-vertical-padding: 3px;
$slider-border-radius-base: 6px;

// layout
$expanded-top-height:    100px;
$expanded-bottom-height: 70px; // 3 * $row-height + 2;
$expanded-right-width:   300px;
$expanded-left-width:    330px;

$collapsed-left-width:   $row-height;

$expanded-portrait-bottom-height: 10 * ($row-height + 1) + 3 * $control-spacing + 1;
$expanded-portrait-top-height:    3 * $row-height + 1;

$standard-bottom-height: 8 * ($row-height + 1) + 3 * $control-spacing + 1;
$standard-top-height:    3 * $row-height + 1;


$color-accent-cyan:      color.adjust(#95a5a6, $lightness: -15%, $space: hsl);
$color-accent-red:       color.adjust(#e74c3c, $lightness: -15%, $space: hsl);
$color-accent-gray:      color.adjust(#34495e, $lightness: -10%, $space: hsl);
$color-accent-green:     color.adjust(#2ecc71, $lightness: -10%, $space: hsl);
$color-accent-purple:    color.adjust(#9b59b6, $lightness: -10%, $space: hsl);
$color-accent-blue:      color.adjust(#3498db, $lightness: -5%, $space: hsl);
$color-accent-orange:    color.adjust(#e67e22, $lightness: -5%, $space: hsl);

// TypeClass = 'Root' | 'Group' | 'Data' | 'Object' | 'Representation3D' | 'Behavior'

$type-class-Root:             $default-background;
$type-class-Data:             color.adjust(#95a5a6, $lightness: -15%, $space: hsl);
$type-class-Object:           color.adjust(#2ecc71, $lightness: -10%, $space: hsl);
$type-class-Behavior:         color.adjust(#9b59b6, $lightness: -10%, $space: hsl);
$type-class-Representation3D: color.adjust(#3498db, $lightness: -5%, $space: hsl);
$type-class-Group:            color.adjust(#e67e22, $lightness: -5%, $space: hsl);

//////////////////////////////////////////////////
// COLORS and COMPUTED COLORS

$slider-disabledColor: #ccc;

$control-background: color-increase-contrast($default-background, 6.5%);
$border-color: color-increase-contrast($default-background, 15%);
$msp-form-control-background: color.adjust($default-background, $lightness: -2.5%, $space: hsl);

// buttons
$msp-btn-link-font-color: $font-color;
$msp-btn-link-toggle-on-font-color: $font-color;
$msp-btn-link-toggle-off-font-color: color.adjust($font-color, $lightness: -33%, $space: hsl);

// used for "actions" -- i.e. + in selection
$msp-btn-remove-font-color: $font-color;

$msp-btn-action-background: $msp-form-control-background;

// update selection etc
//!! $msp-btn-commit-on-font-color: $entity-current-font-color;
$msp-btn-commit-on-hover-font-color: color.adjust($msp-btn-commit-on-font-color, $lightness: -20%, $space: hsl); //!!Change
$msp-btn-commit-on-background: color.adjust($default-background, $lightness: -2%, $space: hsl);
$msp-btn-commit-off-background:  color.adjust($default-background, $lightness: -4%, $space: hsl); //$control-background;
$msp-btn-commit-off-font-color: $font-color;

// log
$log-font-color: color.adjust($font-color, $lightness: -5%, $space: hsl);
$log-timestamp-font-color: color.adjust($font-color, $lightness: -20%, $space: hsl);

// highlight
$highlight-info-font-color: $hover-font-color;
$highlight-info-additional-font-color: color.adjust($hover-font-color, $lightness: -20%, $space: hsl);

// entity state
$entity-color-fully-visible: $font-color;
$entity-color-not-visible: color.adjust($font-color, $lightness: -66%, $space: hsl);
$entity-color-partialy-visible: color.adjust($font-color, $lightness: -33%, $space: hsl);
$entity-tag-color: color.adjust($font-color, $lightness: -20%, $space: hsl);

// sequence
$sequence-background: $default-background;
$sequence-number-color: $hover-font-color;

// state
$state-image-height: 96px;