.msp-sequence {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: $sequence-background;
}

.msp-sequence-select {
    float: left;
    width: $sequence-select-width;
}

.msp-sequence-wrapper {
    word-break: break-all;
    padding: $info-vertical-padding $control-spacing $info-vertical-padding $control-spacing;
    user-select: none;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 90%;
    line-height: 180%;
}

.msp-sequence-wrapper-non-empty {
    font-family: "Courier New", monospace;
}

.msp-sequence-wrapper {
    span {
        cursor: pointer;
    }

    .msp-sequence-marker {
        color: $sequence-marker-color;
        word-break: keep-all;
        cursor: default;
        position: relative;
        top: -1.1em;
        left: 3em;
        padding: 0px;
        margin-left: -3em;
        font-size: 80%;
    }
}