.msp-sequence {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 90%;
    background: $sequence-background;
}

.msp-sequence-select {
    float: left;
    width: $sequence-select-width;
}

.msp-sequence-wrapper {
    word-break: break-word;
    padding: $info-vertical-padding $control-spacing $info-vertical-padding $control-spacing;
    user-select: none;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 90%;
}

.msp-sequence-wrapper {
    span {
        cursor: pointer;
    }
}