.msp-right-controls {
    padding-top: $control-spacing;
}

.msp-section-header {
    height: $row-height;
    line-height: $row-height;
    margin-bottom: $control-spacing;
    text-align: center;
    font-weight: bold;
    background: $default-background;
    // border-right: $control-spacing solid $entity-color-Group; // TODO separate color
    border-top: 1px solid $entity-color-Group; // TODO separate color
    // border-bottom: 1px solid $entity-color-Group; // TODO separate color
}

.msp-current-header {
    height: $row-height;
    line-height: $row-height;
    margin-bottom: $control-spacing;
    text-align: center;
    font-weight: bold;
    background: $default-background;
}

.msp-btn-row-group {
    display:flex;
    flex-direction:row;
    height: $row-height;
    margin-top: 1px;
    width: 100%;

    > button {
        margin: 0;
        flex: 1 1 auto;
        margin-right: 1px;
        height: $row-height;
    }

    > button:last-child {
        margin-right: 0;
    }
}

.msp-state-list {
    list-style: none;
    margin-top: $control-spacing;

    > li {
        position: relative;

        > button:first-child {
            border-left: $control-spacing solid color-increase-contrast($default-background, 12%) !important;
        }

        > div {
            position: absolute;
            right: 0;
            top: 0;        
        }
    }

    button {
        margin-bottom: 1px;
        text-align: left;
    }
}

.msp-tree-row {
    position: relative;
    height: $row-height;
    line-height: $row-height;
    background: color-lower-contrast($control-background, 4%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1px;
    padding-left: $row-height;
    padding-right: 2 * $row-height + $control-spacing;
    border-left: 1px solid $entity-color-Group; // TODO custom color
    // border-bottom-left-radius: $control-spacing;

    &-current {
        // background: $control-background;
        
        a {
            color: $font-color;
        }

        a:hover, a:hover > small {
            color: color-lower-contrast($font-color, 24%);
        }
    }

    a {
        display: block;
    }

    a > small {
        color: $font-color;
    }

    a:hover {
        font-weight: bold;
        text-decoration: none;
    }
}

.msp-tree-remove-button {
    position: absolute;
    right: $row-height;
    top: 0;
    width: $row-height;
    font-size: 80%;
    color: color-lower-contrast($font-color, 24%);
}

.msp-tree-toggle-exp-button {
    position: absolute;
    left: 0;
    top: 0;
    width: $row-height;
    padding: 0;
    color: color-lower-contrast($font-color, 24%);
}

.msp-tree-visibility {
    position: absolute;
    right: 0;
    top: 0;
    width: $row-height;
    font-size: 80%;

    &-hidden {
        color: color-lower-contrast($font-color, 36%);
    }
}

.msp-tree-children {
    margin-left: $control-spacing;
}

.msp-log-list {
    list-style: none;

    > li {
        background: $msp-form-control-background;
        margin-bottom: 1px;
        padding: 3px 6px;
    }
}

.msp-viewport-top-left-controls {
    position: absolute;
    left: $control-spacing;
    top: $control-spacing;

    .msp-traj-controls {        
        line-height: $row-height;
        float: left;
        margin-right: $control-spacing;

        > span {
            color: $font-color;
            padding-top: 1px;
            font-size: 85%;
            display: inline-block;
        }
    }

    .msp-state-snapshot-viewport-controls {
        line-height: $row-height;
        float: left;
        margin-right: $control-spacing;

        > select {
            display: inline-block;
            width: 200px;
        }
    }
}

.msp-param-object-list-item {
    margin-top: 1px;
    position: relative;
    > button {
        text-align: left;
        > span {
            font-weight: bold;
        }
    }
    > div {
        position: absolute;
        right: 0;
        top: 0
    }
}