.msp-transformer {    
    
    .msp-entity-badge {
        position: absolute;
        top: 0;
        right: 0;
        height: $row-height;
        line-height: $row-height;
        width: $row-height;
    }
}

.msp-layout-right {
    background: $control-background;
}

.msp-transformer-wrapper {
    position: relative;    
}

.msp-transformer-wrapper {   
    
    .msp-entity-badge {
        left: 0;
        top: 0;
    }
    
    &:first-child {
        .msp-panel-description-content {
            top: $row-height + 1;
        }
    }
    
    &:not(:first-child) {
        .msp-panel-description-content {            
            bottom: $row-height + 1;
        }
    }
}