
.molstar-layout-main {
    position: absolute;
    left: 0;
    right: 0;
    bottom: $expanded-portrait-bottom-height;
    top: $expanded-portrait-top-height;
}

.molstar-layout-top {
    position: absolute;
    right: 0;
    height: $expanded-portrait-top-height;
    top: 0;
    width: 50%;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

.molstar-layout-bottom {
    position: absolute;
    left: 0;
    right: 0;
    height: $expanded-portrait-top-height;
    width: 50%;
    border-bottom: 1px solid $border-color;
}

.molstar-layout-right {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
    height: $expanded-portrait-bottom-height;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
}

.molstar-layout-left {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
    height: $expanded-portrait-bottom-height;
    border-top: 1px solid $border-color;
}

/////////////////////////////////////////
.molstar-layout-hide-right {
    .molstar-layout-right {
        display: none;
    }
    .molstar-layout-left {
        width: 100%;
    }
}

.molstar-layout-hide-left {
    .molstar-layout-left {
        display: none;
    }
    .molstar-layout-right {
        width: 100%;
        border-left: none;
    }
}

.molstar-layout-hide-right.molstar-layout-hide-left {
    .molstar-layout-main {
        bottom: 0;
    }
}

///////////////////////////////////
.molstar-layout-hide-top {
    .molstar-layout-top {
        display: none;
    }
    .molstar-layout-bottom {
        width: 100%;
        border-left: none;
    }
}

.molstar-layout-hide-bottom {
    .molstar-layout-bottom {
        display: none;
    }
    .molstar-layout-top {
        width: 100%;
        border-left: none;
    }
}

.molstar-layout-hide-top.molstar-layout-hide-bottom {
    .molstar-layout-main {
        top: 0;
    }
}